ansible==2.1.0.0
colorama==0.3.3
docutils==0.12
ecdsa==0.13
Jinja2==2.8
jmespath==0.9.0
MarkupSafe==0.23
paramiko==1.16.0
pyasn1==0.1.9
pycrypto==2.6.1
python-dateutil==2.4.2
PyYAML==3.11
rsa==3.3
six==1.10.0
tabulate==0.7.5
wheel==0.24.0
boto==2.42.0
setuptools==18.0.1
